.section__logo {
    @include bp(tabletVmin) {
        text-align: left;
    }

    &.section__logo__back {
        @media (min-width:$breakpoint--tV*1px) and (max-width:$breakpoint--tH*1px) {
            margin-left: $gutter*4;
        }
        
    }


    img {
        margin: $gutter*2 0;
    }
}

.back {
    position: absolute;
    left: $gutter*2;
    top:0;
    width: rem(20);
    transition: 1s;
    transform: scale(1);
    @include bp(no-mobile) {
        top:rem(-10);
    }
    @media (min-width:$breakpoint--s*1px) and (max-width:$breakpoint--tH*1px) {
        top:rem(10);
    }
    &:hover{
        cursor: pointer;
        opacity: .6;
        transform: scale(1.4);
    }
}